/*main parts*/
input, textarea {
    height: 32px;
    padding: 0 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border: none;
    box-shadow: inset 8px 3px 18px -4px rgba(0,0,0,0.4);
}

input:focus, textarea:focus {
    outline: none;
}

h1 {
    padding: 8px;
    background: rgba(29, 202, 13, 0.8);
    border-radius: 8px;
    margin: 0;
    font-size: 64px;
    font-family: 'Roboto Slab', serif;
}

nav {
    height: 72px;
    background-color: #e7ebe6;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
    top: 0;
}

main {
    margin: 0 auto;
}

nav a {
    padding: 0 32px;
    transition: 0.4s;
}
nav a:hover {
    color: lightgreen;
}


nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

footer {
    background-color: #e7ebe6;
    padding: 8px;
    color: black;
    display: flex;
    bottom: 0;
}

footer a {
    color: black;
}
footer #left-footer {
    flex: 1;
    border-right: 1px solid green;
    padding-left: 32px;
}

footer #left-footer ul {
    padding-left: 0;
    list-style: none;
    line-height: 1.5;
}

footer #left-footer ul li a {
    transition: 0.4s;
    text-decoration: none;
}
footer #left-footer ul li a:hover {
    transition: 0.4s;
    text-decoration: none;
    color: lightgreen;
}

footer #right-footer {
    flex: 2;
    padding-left: 8px;
    text-align: center;
}

footer #social-media-footer a .fa-twitter,
footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-instagram {
    color: black;
    transition: 0.4s;
}

footer #social-media-footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding:0;
}

footer #social-media-footer ul li {
    font-size: 48px;
    padding: 16px;
    transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-instagram {
    color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
footer #social-media-footer ul li:hover a .fa-facebook {
    color: #3b5998;
}
footer #social-media-footer ul li:hover a .fa-twitter {
    color: #00acee;
}


#banner{
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0,0,0,0.2) url(https://jencoi.com/wp-content/uploads/2019/01/Hydroponics_Industry.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
}

#banner h3 {
    background-color: black;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24px;
}


/*classes*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    height: 50px;
    display: flex;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

.button {
    background-color: white;
    padding: 10px 38px;
    margin: 5px 3px;
    transition: 0.4s;
    border-left: solid black 3px;
    border-right: solid black 3px;
    cursor: pointer;
}

.modal-footer .button {
    background-color: #5cb85c;
    color: white;
}
.modal-footer .button:hover {
    background-color: white;
    color: black;
}

.button:hover {
    background-color: limegreen;
    padding: 10px 48px;
}

.card-image {
    transition: 0.4s;
}

.card-image:hover {
    box-shadow: 0 10px 6px -6px #777;
}

.card-image {
    padding: 10px;
}
/*tags*/

#info-div{
    padding: 10px 10px;
    margin: auto;
}
#message-div input, textarea {
    width: 350px;
    height: 350px;
}

#message-div {
    padding: 10px 10px;
    margin: auto;
}

#videos video {
    margin: 10px 10px 10px 10px;
}

#map {
    height: 400px; 
    width: 65%; 
    margin-bottom: 10px;
   }

#header {
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
    
}

#header:hover {
    padding: 4px 48px;
    background: lightgreen;
}

#leftfoot{
    background-color: limegreen;
}

#rightfoot{
    background-color: purple;
}

#mainbody{
    margin-top: 50px;
}

#mainbody p{
    width: 95%;
}
#photo img{
    width: 400px;
    height: auto;
}

.card-image img {
    width: auto;
    height: 250px;
}

#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: black;
    display: flex;
    align-items: center;
    display: none;
}

#search-icon {
    color: black;
    padding: 0 32px;
    cursor: pointer;
    transition: 0.4s;
}

#search-icon:hover{
    color: lightgreen;
}

#logo-img {
    display: flex;
    height: 100%;
    background: #d5d8d4;
    padding: 0 32px;
    align-items: center;
    color: white;
    transition: 0.4s;
}

#logo-img img {
    height: 65px;
}

#logo-img:hover {
    background: #cccfcc;
}

#slideout-menu {
    display: none;
    background: #2d3436;
    z-index: 100;
    position: fixed;
    transition: 0.4s;
    margin-top: 72px;
    width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    top: 0;
}

#slideout-menu ul {
    list-style: none;
    padding: 0 32px;
}

#slideout-menu ul li {
    padding-left: 8px;
}

#slideout-menu ul li a{
    transition: 0.4s;
}

#slideout-menu ul li a:hover{
    color: limegreen;
}

#searchbox {
    position: fixed;
    right: 0;
    top: 24px;
    width: 500px;
    pointer-events: none;
    z-index: 50;
    transition: 0.4s;
}

#searchbox input {
    height: 48px;
    width: 100%;
}

#slideout-menu a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: white;
}

#slideout-menu input {
    width: 85%;
    padding: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
}

#mainbody {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* media queries */
@media(min-width: 720px) {
    main {
        width: 95%;
    }
    #About-Card {
        width: 90%;
    }

    .card {
        width: 45%;
    }

}

@media(min-width: 1200px) {
    main {
        width: 85%;
    }
    .card-image img {
        width: auto;
        height: 400px;
    }
}

@media(max-width: 900px) {
    nav ul {
        display: none;
    }

    #menu-icon {
        display: flex;
    }

    #searchbox {
        display: none;
    }

    #slideout-menu {
       display: block;
    }
}

@media(max-width: 719px) {
    main {
        width: 95%;
    }

    section {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer #left-footer{
        flex: 1;
        border-right: 0;
        border-left: 0;
    }

    footer #right-footer{
        background: #eee;
        color: black;
    }

    footer #right-footer a {
        color: black;
    }

    footer #social-media-footer a .fa-discord,
    footer #social-media-footer a .fa-twitch,
    footer #social-media-footer a .fa-twitter,
    footer #social-media-footer a .fa-youtube {
        color: black;
        transition: 0.4s;
    }
}

@media(max-width: 600px) {
    main{
        width: 100%;
    }

    h1 {
        font-size: 48px;
    }

    #banner h3 {
        font-size: 20px;
    }

    .card {
        text-align: center;
    }

    #logo-img {
        padding: 0;
    }

    head{
        margin-top: 0px;
    }
}