/*main parts*/
h1 {
    padding: 8px;
    background: rgba(29, 202, 13, 0.8);
    border-radius: 8px;
    margin: 0;
    font-size: 64px;
    font-family: 'Roboto Slab', serif;
}

nav {
    height: 72px;
    background-color: #e7ebe6;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
}

main {
    margin: 0 auto;
}

nav a {
    padding: 0 32px;
    transition: 0.4s;
}
nav a:hover {
    color: lightgreen;
}


nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

footer {
    background-color: #e7ebe6;
    padding: 8px;
    color: black;
    display: flex;
}

footer a {
    color: black;
}
footer #left-footer {
    flex: 1;
    border-right: 1px solid green;
    padding-left: 32px;
}

footer #left-footer ul {
    padding-left: 0;
    list-style: none;
    line-height: 1.5;
}

footer #left-footer ul li a {
    transition: 0.4s;
    text-decoration: none;
}
footer #left-footer ul li a:hover {
    transition: 0.4s;
    text-decoration: none;
    color: lightgreen;
}

footer #right-footer {
    flex: 2;
    padding-left: 8px;
    text-align: center;
}

footer #social-media-footer a .fa-twitter,
footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-instagram {
    color: black;
    transition: 0.4s;
}

footer #social-media-footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding:0;
}

footer #social-media-footer ul li {
    font-size: 48px;
    padding: 16px;
    transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-instagram {
    color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
footer #social-media-footer ul li:hover a .fa-facebook {
    color: #3b5998;
}
footer #social-media-footer ul li:hover a .fa-twitter {
    color: #00acee;
}


#banner{
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0,0,0,0.2) url(https://jencoi.com/wp-content/uploads/2019/01/Hydroponics_Industry.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
}

#banner h3 {
    background-color: black;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24px;
}


/*classes*/

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.button {
    background-color: white;
    padding: 10px 38px;
    margin: 5px 3px;
    transition: 0.4s;
    border-left: solid black 3px;
    border-right: solid black 3px;
}

.button:hover {
    background-color: limegreen;
    padding: 10px 48px;
}

.card-image {
    transition: 0.4s;
}

.card-image:hover {
    box-shadow: 0 10px 6px -6px #777;
}



/*tags*/
#photos {
    display: flex;
}

#videos {
    display: flex;
}

#videos video {
    margin: 10px 10px 10px 10px;
}

#header {
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
}

#header:hover {
    padding: 4px 48px;
    background: lightgreen;
}

#leftfoot{
    background-color: limegreen;
}

#rightfoot{
    background-color: purple;
}

#mainbody{
    margin-top: 50px;
}

#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: black;
    display: flex;
    align-items: center;
    display: none;
}

#search-icon {
    color: black;
    padding: 0 32px;
    cursor: pointer;
    transition: 0.4s;
}

#search-icon:hover{
    color: lightgreen;
}

#logo-img {
    display: flex;
    height: 100%;
    background: #d5d8d4;
    padding: 0 32px;
    align-items: center;
    color: white;
    transition: 0.4s;
}

#logo-img img {
    height: 65px;
}

#logo-img:hover {
    background: #cccfcc;
}

#slideout-menu {
    display: none;
    background: #2d3436;
    z-index: 100;
    position: fixed;
    transition: 0.4s;
    margin-top: 72px;
    width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

#slideout-menu ul {
    list-style: none;
    padding: 0 32px;
}

#slideout-menu ul li {
    padding-left: 8px;
}

#slideout-menu a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: white;
}

#slideout-menu input {
    width: 85%;
    padding: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
}

#mainbody {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*media*/
@media(min-width: 720px) {
    main {
        width: 95%;
    }
    .card {
        width: 45%;
    }

    .card .card-image img {
        width: 100%;
    }
}

@media(min-width: 1200px) {
    main {
        width: 85%;
    }
}

@media(max-width: 900px) {
    nav ul {
        display: none;
    }

    #menu-icon {
        display: flex;
    }

    #searchbox {
        display: none;
    }

    #slideout-menu {
       display: block;
    }
}

@media(max-width: 719px) {
    main {
        width: 95%;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer #left-footer{
        flex: 1;
        border-right: 0;
        border-left: 0;
    }

    footer #right-footer{
        background: #eee;
        color: black;
    }

    footer #right-footer a {
        color: black;
    }

    footer #social-media-footer a .fa-discord,
    footer #social-media-footer a .fa-twitch,
    footer #social-media-footer a .fa-twitter,
    footer #social-media-footer a .fa-youtube {
        color: black;
        transition: 0.4s;
    }
    .card {
        width: 100%;
    }
}

@media(max-width: 600px) {
    main{
        width: 100%;
    }

    h1 {
        font-size: 48px;
    }

    #banner h3 {
        font-size: 20px;
    }

    .card {
        text-align: center;
    }

    #logo-img {
        padding: 0;
    }
}